In [1]:
import sys
sys.path.append('..')

%matplotlib inline
%load_ext autoreload
%autoreload 2

In [2]:
import numpy as np
import json
import pandas as pd
from metagraph.client import GraphClient

In [3]:
metagraph = GraphClient('pex1.ethz.ch', 5556)

## Columns

In [4]:
lbls = metagraph.column_labels()

lbls[0:10]

['SRR1971425',
 'DRR001949',
 'SRR1155757',
 'SRR2201245',
 'SRR1156040',
 'SRR1971512',
 'SRR1292894',
 'SRR1156054',
 'ERR1732568',
 'SRR1156337']

## Align

In [5]:
orig_seq = "TAAAGGTGTGAGATAACCCCAGCGGTGCCAGGATCCGT"

In [6]:
metagraph.align(orig_seq)

   score seq_description                                sequence
0     76           query  TAAAGGTGTGAGATAACCCCAGCGGTGCCAGGATCCGT

## Search

In [7]:
metagraph.search('TAAAGGTGTGAGATAACCCCAGCGGTGCCAGGATCCGT')

   kmer_count     sample
0           8  ERR459452

In [8]:
metagraph.search(['TAAAGGTGTGAGATAACCCCAGCGGTGCCAGGATCCGT', 'AATAAAGGTGTGAGATAACCCCAGCGGTGCCAGGATCCGTGCA'])

   kmer_count     sample seq_description
0           8  ERR459452               0
0          13  ERR459452               1

In [9]:
metagraph.search(orig_seq, align=True)

   kmer_count     sample                                sequence  score
0           8  ERR459452  TAAAGGTGTGAGATAACCCCAGCGGTGCCAGGATCCGT     76