In [1]:
import sys
sys.path.append('..')

%matplotlib inline
%load_ext autoreload
%autoreload 2

In [2]:
import numpy as np
import json
import pandas as pd
from metagraph.client import Client

In [3]:
metagraph = Client()

port = 5556 # assuming you did ssh -L 5556:localhost:5556 pex1

metagraph.add_graph('localhost', port)

graph_key = f'localhost:{port}'

## Columns

In [4]:
lbls = metagraph.column_labels()

lbls[graph_key][0:10]

['SRR1971425',
 'DRR001949',
 'SRR1155757',
 'SRR2201245',
 'SRR1156040',
 'SRR1971512',
 'SRR1292894',
 'SRR1156054',
 'ERR1732568',
 'SRR1156337']

## Align

In [5]:
orig_seq = "TAAAGGTGTGAGATAACCCCAGCGGTGCCAGGATCCGT"

In [6]:
metagraph.align(orig_seq)[graph_key]

   score seq_description                                sequence
0     76           query  TAAAGGTGTGAGATAACCCCAGCGGTGCCAGGATCCGT

## Search

In [7]:
metagraph.search('TAAAGGTGTGAGATAACCCCAGCGGTGCCAGGATCCGT')[graph_key]

   sampleCount sampleName
0            8  ERR459452

In [8]:
metagraph.search(['TAAAGGTGTGAGATAACCCCAGCGGTGCCAGGATCCGT', 'AATAAAGGTGTGAGATAACCCCAGCGGTGCCAGGATCCGTGCA'])[graph_key]

   sampleCount sampleName seq_description
0            8  ERR459452               0
0           13  ERR459452               1

In [9]:
metagraph.search(orig_seq, align=True)[graph_key]

   sampleCount sampleName                                sequence  score
0            8  ERR459452  TAAAGGTGTGAGATAACCCCAGCGGTGCCAGGATCCGT     76